# Start of script
[.ShellClassInfo]
ConfirmFileOp=0
NoSharing=1
IconFile=/Bliss_Browser_Logo1_V1_1024pxIcon_HighCompression.png
IconIndex=0
InfoTip="The home repository for the Bliss Browser project."

# File info
# File type: Windows INI file [desktop.ini] (*.ini)
# File version: 1 (2023, Tuesday, January 17th at 4:59 pm PST)
# Line count (including blank lines and compiler line): 15

# End of script
